{% extends 'accounts/base.html' %}
{% block content %}
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5 style="text-align: center;">Customer</h5>
            <hr>
            <br>
            <a class="btn btn-outline-info btn-sm btn-block" href="">Update Customer</a>
            <a class="btn btn-outline-danger btn-sm btn-block" href="">Delete Customer</a>
            <h1 style="padding: 1px"></h1>
        </div>
    </div>
    <div class="col-md">
        <div class="card card-body">
            <h5 style="text-align: center;">Contact Information</h5>
            <hr>
            <br>
            <p>Email: </p>
            <p>Phone: </p>
        </div>
    </div>
    <div class="col-md">
        <div class="card card-body">
            <h5 style="text-align: center;">Total Orders</h5>
            <hr>
            <br>
            <h1 style="text-align: center;padding: 35px"></h1>
        </div>
    </div>
</div>

<br>
<div class="row">
    <div class="col">
        <div class="card card-body">
            <form action="" method="get">
                <button class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Ordered Date</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}