{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="{% url 'index' %}"><img src="{% static '/images/logo.jpg' %}" alt="logo"></a> <!--https://www.designevo.com/logo-maker/-->
  <!-- <a class="navbar-brand" href="#">Home</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
        {% if request.user.is_staff %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'products' %}">Products</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'profile-settings' %}">Settings</a>
      </li>
      {% endif %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Project Resource link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="https://www.facebook.com/abdulalim.milon.71/" target="_blank">Facebook</a>
          <a class="dropdown-item" href="https://github.com/md-abdul-alim/Customer-Management-System" target="_blank">Github</a>
          <a class="dropdown-item" href="https://www.youtube.com/watch?v=xv_bwpA_aEA&list=PL-51WBLyFTg2vW-_6XBoUpE7vpmoR3ztO" target="_blank">Youtube</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Important Documentation
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="https://docs.djangoproject.com/en/3.1/ref/models/querysets/" target="_blank">QuerySet API</a>
          <a class="dropdown-item" href="https://getbootstrap.com/docs/4.5/getting-started/introduction/" target="_blank">Bootstrap JS</a>
          <a class="dropdown-item" href="https://getbootstrap.com/docs/4.5/getting-started/introduction/" target="_blank">Bootstrap CSS</a>
          <a class="dropdown-item" href="https://docs.djangoproject.com/en/3.1/topics/http/urls/#example" target="_blank">Django URLs</a>
          <a class="dropdown-item" href="https://django-filter.readthedocs.io/en/stable/guide/install.html" target="_blank">Django Filter</a>
          <a class="dropdown-item" href="https://jsfiddle.net/ivanov11/hzf0jxLg/" target="_blank">Registration Form Template</a>
          <a class="dropdown-item" href="https://jsfiddle.net/ivanov11/dghm5cu7/" target="_blank">Login Form Template</a>
          <a class="dropdown-item" href="https://docs.djangoproject.com/en/3.1/ref/contrib/messages/#adding-a-message" target="_blank">Django Errors Messages</a>
            <a class="dropdown-item" href="https://docs.djangoproject.com/en/3.1/ref/signals/#signals" target="_blank">Django Signals</a>
        </div>
      </li>
    </ul>
  </div>
    <span style="color: whitesmoke">Hello, {{ user.username }}</span> {{ request.user }}
    <span><a href="{% url 'logout' %}">Logout</a></span>
</nav>