{% extends "accounts/base.html" %}

{% block content %}
    {% if user.is_authenticated %}
    {% include "accounts/snippets/already_logged_in.html" %}
    {% else %}
    <h1>Password Reset(Custom)</h1>
    <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>
    <form method="POST" action="{% url 'password_reset' %}" >
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Reset My Password" />
    </form>
    {% endif %}

{% endblock %}

